body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #6610f2, #a8eb12);
    color: white;
    margin: 0;
    padding: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}