.logo img {
    width: 200px;
    height: 200px;
}

.logo h1 {
    position: relative;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    bottom: 25px;
}

.content button {
    width: 200px;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: translateY(-2px);
    }

    &#send {
        background-color: #1565c0;
    }
    &#send:hover {
        background-color: #0d47a1;
    }

    &#get {
        background-color: #00c62e;
    }
    &#get:hover {
        background-color: #00af29;
    }
}