<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/files.css">
  <title>RutCloud | Файлы</title>
</head>

<body>
<h1>RutCloud</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>File Name</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="file : ${files}">
    <td th:text="${file.id}"></td>
    <td th:text="${file.fileName}"></td>
    <td>
      <!-- Проверяем, имеет ли текущий сеанс доступ к файлу -->
      <span>
        <a th:href="@{'/api/files/' + ${file.id}} + '?session=' + ${session_number}" class="download-link">Download</a>
      </span>
      <!-- Кнопка Delete -->
      <form method="post" th:action="@{'/api/files/delete/' + ${file.id}}">
        <button type="submit" class="delete-button">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<form method="post" action="/api/files/upload" enctype="multipart/form-data">
  <input type="file" name="fileData" placeholder="Choose File" /> <!-- Поле для загрузки файла -->
  <br>
  <input type="text" name="fileName" placeholder="File Name" /> <!-- Название файла -->
  <br>
  <input type="text" name="session" placeholder="Session ID" /> <!-- Идентификатор сеанса -->
  <br>
  <button type="submit">Upload</button>
</form>
</body>

</html>