<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/files.css">
  <title>RutCloud | Получить</title>

</head>
<body>
<h1>RUT CLOUD-SHARE - Files</h1>

<p>Вы находитесь на странице с ожиданием файлов. Здесь вы можете просмотреть и загружать файлы.</p>

<div class="button-container">
  <button class="return-button" onclick="returnToMain()">Вернуться на главную</button>
</div>

<script>
  function downloadFile() {
    alert("Функциональность скачивания файлов будет добавлена здесь.");
  }

  function returnToMain() {
    window.location.href = "/";
  }
</script>

</body>
</html>
