<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/files.css">
    <title>RutCloud | Выбор сессии</title>

<body>
<h1>RUT CLOUD-SHARE</h1>

<br>

<form method="get" action="/files" enctype="multipart/form-data">
    <input type="text" name="session" placeholder="Session ID" /> <!-- Идентификатор сеанса -->
    <br>
    <button type="submit">Upload</button>
</form>

</body>
</html>
